<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <br>
  <div class="field">
    <h4 style="color: #595959;">Email:<small>
    <%= f.email_field :email, autofocus: true, :size => "50" %></small></h4>
  </div>
  <br>

  <div class="actions"><h5>
    <%= f.submit "Send reset password instructions", class:'w3-btn', style: 'height: 30px; width: 280px; background-color: #224E7A;' %></h5>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<div style="height: 260px;"></div>
