<% if current_user %>
  <% if current_user.admin? %>
    <h1><%= image_tag("feather.png", height: '60', width: '30') %><span style="padding-left: 10px;">Dashboard</span></h1>
    <div class="dashPanel">
      <h4 ng-click="completed = !completed; summary = false">Completed <span ng-show="completed" style="float: right; margin-right: 20px; font-size: 25px;" class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>

    <div class="dashPanel">
      <h4 ng-click="completed = false; summary = !summary" style="margin-left: 70px;">Summary <span ng-show="summary" style="float: right; margin-right: 20px; font-size: 25px;" class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>
    <br><br><br><br>
    <div class="w3-animate-zoom" ng-show="completed">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><h4>Name</h4></th>
        <th><h4>Desired Position</h4></th>
        <th><h4>Date</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5>Doe, John</h5></td>
        <td><h5>PHP Programmer</h5></td>
        <td><h5>12 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Smith, Stacy</h5></td>
        <td><h5>Sales Manager</h5></td>
        <td><h5>15 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Johnson, Gary</h5></td>
        <td><h5>Dental Assistant</h5></td>
        <td><h5>2 August 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Doe, Jack</h5></td>
        <td><h5>PHP Programmer</h5></td>
        <td><h5>12 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Smith, Stanley</h5></td>
        <td><h5>Sales Manager</h5></td>
        <td><h5>15 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Moore, Gary</h5></td>
        <td><h5>Dental Assistant</h5></td>
        <td><h5>2 August 2016</h5></td>
      </tr>
    </tbody>
  </table>
  <h4 style="float: right;">These are your reviews from 23 November 2016 to present. The next term begins on 7 December 2016. </h4>
  <br><br><h4 style="float: right;">TOTAL: $87.60</h4>
</div>
    <div class="w3-animate-zoom summary" ng-show="summary">
      <h2><%= current_user.fname %> <%= current_user.lname %></h3>
      <br>
      <h4><a href="/">October 2016</a></h4>
      <h4><a href="/">September 2016</a></h4>
      <h4><a href="/">August 2016</a></h4>
      <br>
      <h4>Please e-mail <a href="/">support@top-applicant.com</a> if you have any questions.</h4>
      <br>
    </div>

    <div class="dashPanel2">
      <h4>Dashboard</h4>
    </div>
    <table class="w3-table w3-striped w3-bordered">
      <thead>
        <tr>
          <th><h4>Name</h4></th>
          <th><h4>Desired Position</h4></th>
          <th><h4>Date</h4></th>
          <th><h4></h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h5>Doe, John</h5></td>
          <td><h5>PHP Programmer</h5></td>
          <td><h5>3 June 2016</h5></td>
          <td><h5><button style="color: white; background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Smith, Stacy</h5></td>
          <td><h5>Sales Manager</h5></td>
          <td><h5>15 June 2016</h5></td>
          <td><h5><button style="color: white; background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Johnson, Gary</h5></td>
          <td><h5>Dental Assistant</h5></td>
          <td><h5>2 August 2016</h5></td>
          <td><h5><button style="color: white; background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Doe, Jack</h5></td>
          <td><h5>PHP Programmer</h5></td>
          <td><h5>12 June 2016</h5></td>
          <td><h5><button style="color: white; background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Smith, Stanley</h5></td>
          <td><h5>Sales Manager</h5></td>
          <td><h5>15 June 2016</h5></td>
          <td><h5><button style="color: white; background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Moore, Gary</h5></td>
          <td><h5>Dental Assistant</h5></td>
          <td><h5>2 August 2016</h5></td>
          <td><h5><button style="color: white; background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
      </tbody>
    </table>
    <br>
    <h4 style="float: right;">You have no outstanding incomplete reviews.<br><br></h4>
  <% else %>
  <div class="profileL" style="height:560px;">
        <h2 style="color: #595959;" class="w3-bottombar w3-border-grey">Edit Profile</h2><br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
        <h4 style="color: #595959;">First Name: <small><%= f.text_field :fname, :value => current_user.fname %></small> Last Name: <small><%= f.text_field :lname, :value => current_user.lname %></small> </h4>
        </div>
        <h4 style="color: #595959;">Email Address: <small><%= f.email_field :email, :value => current_user.email, :size => "30" %></small></h4>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><h4 style="color: #224E7A;">Currently waiting confirmation for: <%= resource.unconfirmed_email %></h4></div>
        <% end %>
        <!-- <h4 style="color: #595959;">Desired Job Title: <small></small></h4> -->
        <h4 style="color: #595959;">Career Field: <small><%= f.text_field :career, :value => current_user.career %></small></h4>
        <h4 style="color: #595959; width: 100%;">Career Goals: <small><%= f.text_area :goals, cols: 65, rows: 4, :value => current_user.goals %></small></h4>
        <div class="field">
          <h4 style="color: #595959;">Password: <small>(Leave blank if you don't want to change it) <%= f.password_field :password, autocomplete: "off" %> </small></h4>
        </div>
        <div class="field">
        <h4 style="color: #595959;">Password Confirmation:<small>
          <%= f.password_field :password_confirmation, autocomplete: "off" %></small></h4>
        </div>
        <div class="field" style="margin-top: 20px;">
          <h4 style="color: #595959;">* Current Password: <small>(Current password required to update)
          <%= f.password_field :current_password, autocomplete: "off" %></small></h4>
        </div>

        <h4 style="width: 100%; margin-top: 20px;">
          <div class="actions">
          <%= f.submit "Update Profile", class:'w3-btn', style: 'color: white; height: 35px; width: 150px; background-color: #224E7A;' %>
          <%= link_to "Back", :back, :style => 'height: 35px; width: 70px; background-color: gray; color: white;', :class => 'w3-btn' %>
        </div></h4>
        <% end %>

  </div>
  <div class="profileR" style="height: 500px;">
    <br><br>
    <h4><button class="w3-btn" style="height: 35px; width: 240px; color: white !important; background-color: #224E7A;">My Order(s)</button></h4>
    <h4><%= link_to('Sign Out', destroy_user_session_path, :method => :delete, :class => 'w3-btn', :style => 'color: white; height: 35px; width: 240px; background-color: #595959; color: white;') %></h4>
    <br>
    <h4><%= button_to "Delete My Account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account? This action cannot be undone." }, class: 'w3-btn', style: 'height: 35px; width: 240px; color: white; background-color: #595959;', method: :delete %></h4>

  </div><br><br>
  <!-- <h3>Progress</h4>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-info" style="width: 25%"></div>
    </div> -->
  <!-- <h3>Resume Concerns: <small></small></h3> -->


  <br><br>
  <div class="leftInfo">
    <h2 style="margin-left: 10px; color: black;">Cover Letter Review</h2>
    <h3 style="margin-left: 90px; color: black;">$49.95 <small>Plus tax</small></h3>
    <ul class="w3-ul w3-card-4 w3-tiny ls" style="background-color: #f6f6f6;">
      <li><h3>✔  1 full-page evaluation of a cover letter</h3></li>
      <li><h3>✔  Honest feedback and job search advice</h3></li>
      <li><h3>✔  Line-by-line comments and evaluation</h3></li>
      <li><h3>✔  Up to 2 full-length pages</h3></li>
      <li><h3>✔  Recieve in 7 Business Days or sooner</h3></li>
    </ul>
    <h4><button class="w3-btn" style="color: white; height: 40px; width: 85%; background-color: #224E7A">ORDER NOW</button></h4>
  </div>
  <div class="centerInfo">
    <h2 style="margin-left: 40px; color: black;">Resume Review</h2>
    <h3 style="margin-left: 90px; color: black;">$59.95 <small>Plus tax</small></h3>
    <ul class="w3-ul w3-card-4 w3-tiny ls" style="background-color: #f6f6f6;">
      <li><h3>✔  1 full-page evaluation of a resume</h3></li>
      <li><h3>✔  Honest feedback and job search advice</h3></li>
      <li><h3>✔  Formatting and career-unique advice</h3></li>
      <li><h3>✔  Up to 2 full-length pages</h3></li>
      <li><h3>✔  Recieve in 7 Business Days or sooner</h3></li>
    </ul>
      <h4><button class="w3-btn" style="color: white; height: 40px; width: 85%; background-color: #224E7A">ORDER NOW</button></h4>
  <br><br><br>
  </div>
  <div class="rightInfo">
    <h2 style="margin-left: 30px; color: black;">Complete Editing</h2>
    <h3 style="margin-left: 90px; color: black;">$69.95 <small>Plus tax</small></h3>
    <ul class="w3-ul w3-card-4 w3-tiny ls" style="background-color: #f6f6f6;">
      <li><h3>✔  Grammar, spelling, and proofreading</h3></li>
      <li><h3>✔  Honest feedback, comments and job search advice</h3></li>
      <li><h3>✔  Formatting and styling suggestions</h3></li>
      <li><h3>✔  Up to 3 full-length pages</h3></li>
      <li><h3>✔  Recieve in 10 Business Days or sooner</h3></li>
    </ul>
    <h4><button class="w3-btn" style="color: white; height: 40px; width: 85%; background-color: #224E7A">ORDER NOW</button></h4>
  </div>
  <div style="height: 1060px;"></div><br>
  <h3 style="color: gray; margin-left: 370px;"><small>* All reviews are career-specific and will by evaluated by one Top Applicant member experienced in only the choosen
      career field from your profile settings above.</small></h3>
<% end %>
<% else %>
<script type="text/javascript">
  window.location.href="/users/sign_in"  // put your correct path in a string here
</script>
  <% end %>

</div>
