</div>

<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item" id="item1">
    <div class="inText1">
    <h1>Resume Feedback</h1>
    <h2>By one of our industry leading employers <br>with detailed and personal advice<br></h2>
        <h1><a href="#" class="btn btn-primary btn-lg">Get Started</a></h1>
      </div>
      </div>

   <div class="item" id="item2">
      <div class="inText2">
      <h1>Cover Letter Feedback</h1>
      <h2>By one of our industry leading employers <br>with detailed and personal advice<br></h2>
          <h1><a href="#" class="btn btn-default btn-lg">Get Started</a></h1>
      </div>
      </div>
</div>
<br>

<div class="container">
  <a name="OurTeam"></a>
  <div class="ourTeam">
    <h1>Our Team</h1>
    <div class="col1">
      <%= image_tag("bcat.png") %>
      <h1>John Doe</h1><p>Employer, Company Co. <br> 16 years experience</p>
    </div>
    <div class="col2">
      <%= image_tag("bcat.png") %>
      <h1>John Doe</h1><p>Employer, Company Co. <br> 16 years experience</p>
    </div>
    <div class="col3">
      <%= image_tag("bcat.png") %>
      <h1>John Doe</h1><p>Employer, Company Co. <br> 16 years experience</p>
    </div>

    <div class="col1">
      <%= image_tag("bcat.png") %>
      <h1>John Doe</h1><p>Employer, Company Co. <br> 16 years experience</p>
    </div>
    <div class="col2">
      <%= image_tag("bcat.png") %>
      <h1>John Doe</h1><p>Employer, Company Co. <br> 16 years experience</p>
    </div>
    <div class="col3">
      <%= image_tag("bcat.png") %>
      <h1>John Doe</h1><p>Employer, Company Co. <br> 16 years experience</p>
    </div>
  </div>
</div>
<br>

  <div class="resumeInfo">
    <a name="Services"></a>
    <div class="rfText">
      <h1><br><br>Resume Review</h1>
      <h3>At Top Applicant, we know how difficult it can be preparing your resume for
        an important job interview. That's why we are here to help! Sign up, submit your resume and
        recieve a review from an employer in your industry.</h3><br>
      <ul class="servicesList">
        <li><h4>Industry-specific Employers</h4></li>
        <li><h4>Years of Experience Reviewing Resumes</h4></li>
        <li><h4>Detailed Extensive Review and Advice</h4></li>
        <li><h4>Fast and Easy Communication</h4></li>
      </ul>
      <h1>$49.95 <small> Plus tax</small></h1>
      <h2><a href="#" class="btn btn-primary btn-lg">Sign Up</a></h2>
    </div>
  </div>
</div>
