<% if current_user %>
  <% if current_user.admin? %>
    <h1><%= image_tag("feather.png", height: '60', width: '30') %><span style="padding-left: 10px;">Dashboard</span></h1>
    <div class="dashPanel">
      <h4 ng-click="completed = !completed; summary = false">Completed <span ng-show="completed" style="float: right; margin-right: 20px; font-size: 25px;" class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>

    <div class="dashPanel">
      <h4 ng-click="completed = false; summary = !summary" style="margin-left: 70px;">Summary <span ng-show="summary" style="float: right; margin-right: 20px; font-size: 25px;" class="glyphicon glyphicon-chevron-down"></span></h4>
    </div>
    <br><br><br><br>
    <div class="w3-animate-zoom" ng-show="completed">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><h4>Name</h4></th>
        <th><h4>Desired Position</h4></th>
        <th><h4>Date</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><h5>Doe, John</h5></td>
        <td><h5>PHP Programmer</h5></td>
        <td><h5>12 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Smith, Stacy</h5></td>
        <td><h5>Sales Manager</h5></td>
        <td><h5>15 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Johnson, Gary</h5></td>
        <td><h5>Dental Assistant</h5></td>
        <td><h5>2 August 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Doe, Jack</h5></td>
        <td><h5>PHP Programmer</h5></td>
        <td><h5>12 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Smith, Stanley</h5></td>
        <td><h5>Sales Manager</h5></td>
        <td><h5>15 June 2016</h5></td>
      </tr>
      <tr>
        <td><h5>Moore, Gary</h5></td>
        <td><h5>Dental Assistant</h5></td>
        <td><h5>2 August 2016</h5></td>
      </tr>
    </tbody>
  </table>
  <h4 style="float: right;">These are your reviews from 23 November 2016 to present. The next term begins on 7 December 2016. </h4>
  <br><br><h4 style="float: right;">TOTAL: $87.60</h4>
</div>
    <div class="w3-animate-zoom summary" ng-show="summary">
      <h2><%= current_user.fname %> <%= current_user.lname %></h3>
      <br>
      <h4><a href="/">October 2016</a></h4>
      <h4><a href="/">September 2016</a></h4>
      <h4><a href="/">August 2016</a></h4>
      <br>
      <h4>Please e-mail <a href="/">support@top-applicant.com</a> if you have any questions.</h4>
      <br>
    </div>

    <div class="dashPanel2">
      <h4>Dashboard</h4>
    </div>
    <table class="w3-table w3-striped w3-bordered">
      <thead>
        <tr>
          <th><h4>Name</h4></th>
          <th><h4>Desired Position</h4></th>
          <th><h4>Date</h4></th>
          <th><h4></h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h5>Doe, John</h5></td>
          <td><h5>PHP Programmer</h5></td>
          <td><h5>3 June 2016</h5></td>
          <td><h5><button style="background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Smith, Stacy</h5></td>
          <td><h5>Sales Manager</h5></td>
          <td><h5>15 June 2016</h5></td>
          <td><h5><button style="background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Johnson, Gary</h5></td>
          <td><h5>Dental Assistant</h5></td>
          <td><h5>2 August 2016</h5></td>
          <td><h5><button style="background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Doe, Jack</h5></td>
          <td><h5>PHP Programmer</h5></td>
          <td><h5>12 June 2016</h5></td>
          <td><h5><button style="background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Smith, Stanley</h5></td>
          <td><h5>Sales Manager</h5></td>
          <td><h5>15 June 2016</h5></td>
          <td><h5><button style="background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
        <tr>
          <td><h5>Moore, Gary</h5></td>
          <td><h5>Dental Assistant</h5></td>
          <td><h5>2 August 2016</h5></td>
          <td><h5><button style="background-color: #224E7A; width: 70px;" class="w3-btn w3-small">OPEN</button></h5></td>
        </tr>
      </tbody>
    </table>
    <br>
    <h4 style="float: right;">You have no outstanding incomplete reviews.<br><br></h4>
  <% else %>
  <h2><%= current_user.fname %> <%= current_user.lname %> <small><%= current_user.email %></small></h2>
  <br>
  <h3>Desired Career: <small><%= current_user.career %></small></h3>
  <h3>Career Goals: <small><%= current_user.goals %></small></h3>
  <!-- <h3>Resume Concerns: <small></small></h3> -->
  <br>
  <h3>Progress</h4>
  <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-info" style="width: 25%"></div>
</div>

</div>
  <br><br>
  <div class="leftInfo">
    <h2>Cover Letter Review</h2>
    <p>Derp kermen ermen Derp kermen ermen Derp kermen ermen</p>
    <ul>
      <li>Derp kermen ermen</li>
      <li>Derp kermen ermen</li>
      <li>Derp kermen ermen</li>
      <li>Derp kermen ermen</li>
      <li>Derp kermen ermen</li>
    </ul>
    <p>Derp kermen ermen Derp kermen ermen Derp kermen ermen</p>
    <p>Derp kermen ermen Derp kermen ermen Derp kermen ermen</p>
    <button class="btn btn-info">Order</button>
    <br><br><br>
  </div>
  <div class="centerInfo">
    <h2>Resume Review <small> $75 - $150</small></h2>
    <p>Resume evaluation by one of our experienced employers partnered with us
      in conducting job interviews hiring applicants.</p>
    <h3>Get a price <small>Choose a career field:</small></h3>
    <div class="form-group">
  <!-- <label for="sel1"><p>Career Field:</p></label> -->
  <select class="form-control" id="sel1">
    <option>Software Engineering</option>
    <option>Construction</option>
    <option>Business</option>
    <option>Accounting</option>
  </select>
</div>
  <button class="btn btn-info">Order</button>
  <!-- <p><br>Derp kermen ermen Derp kermen ermen Derp kermen ermen</p>
  <p>Derp kermen ermen Derp kermen ermen Derp kermen ermen</p> -->
  <br><br><br>
  </div>
  <div class="rightInfo">
    <h2>English Resume Review</h2>
    <p>Resume evaluation by an English professor with emphasis on clear
      communication, grammar and language fluidity.</p>
    <ul>
      <li>Clear Communication</li>
      <li>Grammar</li>
      <li>Traditional English Styling</li>
      <li>Spelling</li>
      <li>Overall Resume Appearance</li>
    </ul>
    <p>Resume must be submitted in English. Evaluation and editing will be done on a seperate
      Google Docs file and e-mailed with your review as well as tips and advice.</p>
    <button class="btn btn-info">Order</button>
    <br><br><br>
  </div>
  <div style="height: 500px;"></div>
<% end %>
<% else %>
  <h1>Stranger!</h1>
  <% end %>

</div>
