<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- <div class="well"><p><%= devise_error_messages! %></p></div> -->

  <h1>Sign In <small>Welcome back!</small></h1><br>

<table><tr>
  <td><div class="field"><h4>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></h4>
  </div></td></tr><tr>

  <td><div class="field"><h4>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></h4>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field"><h4 style="color: gray;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %></h4>
    </div>
  <% end -%>
  </table>

  <div class="actions">
    <h4><%= f.submit "Sign in", :class => 'btn btn-info' %></h4>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<br><br><br><br>
