<!DOCTYPE html>
<html>
<head>
  <title>Top Applicant</title>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag "bootswatch" %>
  <%= stylesheet_link_tag "custom" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app="">
  <nav class="navbar navbar-default" id="Accounting">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Top Applicant</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/home/#Services">Services</a></li>
        <li class="<%= 'active' if params[:controller] == 'team' %>"><a href="/team/index">Our Team <span class="sr-only">(current)</span></a></li>
        <li class="<%= 'active' if params[:controller] == 'faq' %>"><a href="/faq/show">FAQ</a></li>
        <li><a class="notice"><p style="color: #224E7A;"><%= notice %></p></a></li>
        <li><a class="alert"><p style="color: #224E7A;"><%= alert %></p></a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Services</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Contact</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <form class="navbar-form navbar-left" role="search">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li><a href="/home/show">Welcome, <%= current_user.fname %> <%= current_user.lname %>!</a></li>
        <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
        <li data-toggle="modal" data-target="#myModal2"><a href="#">Sign Up</a></li>
        <li data-toggle="modal" data-target="#myModal1"><a href="#">Sign In</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 180px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Sign In</h2>
      </div>
      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field"><h4>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %></h4>
          </div>

          <div class="field"><h4>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %></h4>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field"><h4>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %></h4>
            </div>
          <% end -%>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-info" %><br />
        <% end -%>
      </div>
      <div class="modal-footer">
        <div class="actions"><h3>
          <button type="button" class="w3-btn w3-medium" style="height: 40px; width: 80px; background-color: gray;" data-dismiss="modal">Close</button>
          <%= f.submit "Sign In", :class => 'w3-btn w3-medium', :style => 'height: 40px; width: 80px; background-color: #224E7A;'%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 120px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Sign Up <small>It's free!</small></h2>
      </div>
      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <table><tr>
            <td><div class="field"><h4>
              <%= f.label :firstname %>:
              <%= f.text_field :fname, autofocus: true %></h4>
            </div></td>

            <td><div class="field"><h4>
              <%= f.label :lastname %>:
              <%= f.text_field :lname, autofocus: false %></h4>
            </div></td>
          </tr><tr>
          </table>

          <table><tr>
            <td><div class="field"><h4>
              Email:<%= f.text_field :email, autofocus: false, type: "email" %></h4>
            </div></td>

            </tr><tr>
            <td><div class="field"><h4>
              <%= f.label :Desired_Career %>:
              <%= f.text_field :career, autofocus: false %></h4>
            </div></td>
            </tr><tr>

            <td><div class="field"><h4>
              Briefly describe your career goals:
              <%= f.text_area :goals, autofocus: false, size: "60x4" %></h4>
            </div></td>
            </tr><tr>
          </tr>
          </table>

          <div class="field"><h4>
            Password:
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off" %></h4>
          </div>

          <div class="field"><h4>
            <%= f.label :password_confirmation %>:
            <%= f.password_field :password_confirmation, autocomplete: "off" %></h4>
          </div>

      </div>
      <div class="modal-footer">
        <div class="actions"><h3>
          <button type="button" class="w3-btn w3-medium" style="height: 40px; width: 80px; background-color: gray;" data-dismiss="modal">Close</button>
          <%= f.submit "Sign Up", :class => 'w3-btn w3-medium', :style => 'height: 40px; width: 80px; background-color: #224E7A;'%>
          </h3>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="container">

<%= yield %>
</div><br><br>
  <div class="bottom">
    <div class="cleft">
      <h3>COMPANY</h3>
        <h4><a href="/">Contact</a></br>
           <a href="/">About Us</a></br>
           <a href="/">Our Team</a><br>
           <a href="/">FAQ</a><br>
         </h4>
    </div>
    <div class="cleft2">
      <h3>SUPPORT</h3>
        <h4><a href="/">Copyright</a></br>
           <a href="/">Legal</a></br>
           <a href="/">Privacy</a><br>
           <a href="/">Terms of Use</a><br>
         </h4>
    </div>
    <div class="bio">
      <h4>Top Applicant provides online document reviews, feedback, and professional opinions
          from an experienced team of current or former employers, university professors, and other
          individuals who have professional experience conducting job interviews and evaluating
          related documents. <br><br>
          <!-- <p class="text-info"><a href="/">CREATE A FREE ACCOUNT</a></p> -->
          <!-- <p class="text-info"><a href="/">LEARN MORE</a></p> -->
          <button class="w3-btn" style="margin-left: 0px; width: 200px; background-color: #333333; color: white;">LEARN MORE</button>
          <!-- <a href="/">Get Started</a> -->
          </h4>
    </div>
    <div class="cline">
      <h4>©2016 Top Applicant Inc. All rights reserved</h4>
    </div>
  </div>
</div>
</body>
</html>
